.areaScroll
{
    height: 90px;
    overflow: auto;
    /*margin-left: auto;
    margin-top:  auto;*/
    width: 900px;
    border: 1px solid #c2e1ef;
    padding-right: 10px;
}

.areaScrollModal
{
    height: 150px;
    overflow: auto;
    width: 800px;
    border: 1px solid #c2e1ef;
    padding-right: 10px;
}

#tbl-listarepresentantes .direcciones th {
    width: 25%;
    text-align: center;
    vertical-align: top;
    padding-bottom: 10px;
    padding-top: 10px;
}

.areaScrollSelDirectorio 
{
    height: 90px;
    overflow: auto;
    width: 300px;
    border: 1px solid #c2e1ef;
    padding-right: 10px;
}