* {
    margin: 0px;
    padding: 0px;
}

body { 
    font-size: 62.5%; 
}

#menu {
    float: left;
    width: 230px;
    padding: 25px 25px 25px 25px; 
}

#main {
    background-color: white !important;
    margin: 0 0 0 10px;
    width: 1200px;
    position: relative;
    box-shadow: 0 0 10px black; 
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-top: 25px;
    border-bottom-left-radius: 15px 25px;
    border-bottom-right-radius: 15px 25px;
    
}

#footer {
    padding: 25px 25px 25px 25px;
}

.fondo {
    background-image: url(../img/fnd.jpg);
}

textarea {
    resize: none;
}


input[type="text"]:hover {
    border: thin #999999 outset;
    filter: alpha(opacity=50);
    -moz-opacity:.5;
    opacity: .5;
    background: #ffffff;
    color: 000000;
}

input[type="text"]:focus  {
    border: thin #000000 solid;
    background: #FFFFFF;
    color: #000000;
}
input[type="text"]:focus:hover {
    border: thin #000000 solid;
    filter:alpha(opacity=100);-moz-opacity:1;opacity:1;
    background: #FFFFFF;
    color: #000000;
}

.derecha {
    position: absolute;
    left: 150px;
}

.derecha-inline {
    position: absolute;
    left: 300px;
}

.tr-padding {
    padding: 5px 5px 5px 5px;
}

.addRow {
    background-image: url('../img/add-button.gif');
    background-repeat: no-repeat;
    border: none;
    width: 12px;
    height: 12px;
}

.delRow {
    background-image: url('../img/edit-delete.png');
    background-repeat: no-repeat;
    border: none;
    width: 16px;
    height: 16px;
}
.editRow {
    background-image: url('../img/edit-edit.png');
    background-repeat: no-repeat;
    border: none;
    width: 16px;
    height: 16px;
}